html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#pwd{
    width: 200px;
    height: 30px;
}

#icon{
    font-size: 30px;
    position: relative;
    left: -50px;
    top: 7px;
}
